@tailwind base;
@tailwind components;
@tailwind utilities;

.flex-justify-end {
  justify-content: flex-end;
}

/* .flex-align {
  align-items: center;
} */

.flex-gap {
  gap: 2rem;
}

.rel {
  position: relative;
}

.stick {
  position: sticky;
}

.abs {
  position: absolute;
}

.fixed {
  position: fixed;
}

.align-center {
  margin: 0 auto;
}

.align-right {
  margin: 0 0 0 auto;
}

.top {
  margin-top: 0;
  margin-bottom: auto;
}

.bot {
  margin-top: auto;
  margin-bottom: 0;
}

.mn5 {
  margin: 5px;
}

.m10 {
  margin: 10px;
}

.m20 {
  margin: 20px;
}

.p5 {
  padding: 5px;
}

.p10 {
  padding: 10px;
}

.p20 {
  padding: 20px;
}

.w100 {
  width: 100%;
}

.max-w10 {
  max-width: 10rem;
}

.max-w20 {
  max-width: 20rem;
}

.max-w30 {
  max-width: 30rem;
}

.border15 {
  border-radius: 15px;
}

.border25 {
  border-radius: 25px;
}

.border50 {
  border-radius: 50px;
}

.background {
  background-size: cover;
  background-repeat: no-repeat;
}

.align-left {
  margin: 0 auto 0 0;
}

.button-green {
  border-radius: 20px;
  background-color: var(--green);
  font-size: medium;
  padding: 8px 10px;
}

.button-pink {
  border-radius: 20px;
  background-color: var(--pink);
  font-size: medium;
  padding: 8px 10px;
}

.shadow {
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
}

.text-light {
  color: white;
}

.text-dark {
  color: black;
}

.text-wrap {
  text-overflow: wrap;
}

.content {
  min-height: 100vh;
  position: relative;
}

.h100 {
  min-height: 100%;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #fff;
}

html,
body,
#__next,
main {
  min-height: 100vh;
}

body {
  height: 100%;
}

:root {
  --pink: #f570b9;
  --green: #4de072;
  --darkergray: #121212;
  --darkgray: #1f1f1f;
  --lightgray: #2d2d2d;
  --lightergray: #484848;
}
