.Header {
  background-color: var(--green);
  width: 100%;
  z-index: 1;
}

.menu {
  margin-right: 1em;
  display: flex;
  align-items: center;
}

/* .searchbar {
  padding: 0 5px;
  background-color: var(--darkgray);
  border: 4px solid var(--darkgray);
  border-radius: 25px;
  display: flex;
} */

.searchbar input {
  width: 0;
  border: none;
  border-color: var(--darkgray);
  padding: 0;

  transition: width 300ms;
  transition-timing-function: ease-out;
  width: 0;
}

.searchbar input {
  background-color: var(--darkgray);
  color: white;
}

.searchbar:hover input {
  transition: width 300ms;
  transition-timing-function: ease-out;
  width: 40vw;
  padding: 1px 5px;
}

.searchbar input:focus {
  outline: none;
  border-bottom: 2px solid var(--pink);
}

.icon-small {
  height: 20px;
  width: 20px;
  margin: 0;
}
