.secret {
  position: relative;
  margin: 0 2rem;
}

.strip {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 10%;
  background-color: var(--green);
  border-radius: 5px 5px 0 0;
}

.secret p {
  font-family: cursive;
  font-size: 1.2rem;
}

.secret-menu-item svg {
  font-size: 2rem;
}

.postlink a {
  color: var(--green);
  text-decoration: underline;
  text-underline-offset: 6px;
  text-decoration-thickness: 2px;
}
