.secret {
  position: relative;
  margin: 0 2rem;
}

.secret p {
  font-family: cursive;
}

.secret-menu-item svg {
  font-size: 2rem;
}

.postlink a {
  color: var(--green);
}

.comments {
  transition: height 0.3s ease-out;
}

.comments-open {
  height: 50px;
}

.comments-closed {
  height: 0px;
}

.button-anim {
  transition: height 0.2s ease-out;
}

.input-anim {
  transition: max-height 0.25s ease-out;
}
